@page "/"

<PageTitle>Index</PageTitle>

<MudTextField @bind-Value="TextValue" Label="Filled" Variant="Variant.Filled"></MudTextField>
<MudTextField @bind-Value="TextValue" Label="Outlined" Variant="Variant.Outlined"></MudTextField>


<h1>Hello, world1!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

@code {
    public string TextValue { get; set; }
}